/* lecturer.css */

body {
    font-family: Arial, sans-serif, italic;
    margin: 15px;
    margin-left: 0%;
    margin-right: 0%;
    padding: 0%;
    background-image: url('images/webbc3.webp');
    background-size: cover;
    background-position: center;
    background-repeat: repeat;
}

header {
    display: flex;
    align-items: center;
    padding: 20px;
    background-size: 100% 200px;
    background-position: center;
    color: #999494;
    margin: 0;
    border-top: 10px solid #b3934d;
    border-bottom: 10px solid #b3934d;
    margin-bottom: 50px;
}

.img2 {
    margin-left: 150px;
}

h1 {
    margin-top: 55px;
    margin-bottom: 0px;
    margin-left: 20px;
    font-family: italic;
    color: #b1aeae;
    font-size: 30px;
    white-space: nowrap;
}
.navbar {
    background-color: #333; /* Choose your desired background color */
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    margin-bottom: 40px; /* Adjust this value to your preference */
    border-top: 5px solid #b3934d; /* Chooseable border color for the bottom */
    border-bottom: 5px solid #b3934d; /* Chooseable border color for the bottom */


}

.navbar a {
    float: right;
    display: block;
    color: #b3934d;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar a:hover {
    background-color: #ddd; /* Choose your desired hover background color */
    color: black;
}
ct {
    margin-top: 55px;
    margin-bottom: 30px;
    margin-left: 20px;
    font-family: italic;
    color: #b1aeae;
    font-size: 50px;
    white-space: nowrap;
}

pq {
    margin-top: 155px;
    margin-bottom: 0px;
    margin-left: 20px;
    font-family: italic;
    color: #b1aeae;
    font-size: 30px;
    white-space: nowrap;
}

#studentTable {
    margin-top: 50px;
    width: 50%; /* Adjust the width based on your preference */
    margin-left: 50px;
    border-collapse: collapse; /* This property removes the default spacing between table cells */
    
}

#studentTable th {
    font-size: 20px;
    text-align: center;
    color: #b1aeae;
    border: 1px solid #b1aeae; /* Add a 1px solid border around each cell */
}


#studentTable td {

    text-align : center;
    color: white;
    border: 1px solid #b1aeae; /* Add a 1px solid border around each cell */
}

/* Add a class for left-aligned cells in the "Name" column */
#studentTable .left-align {
    text-align: left;
}


    

footer {
    margin-top: 200px;
    text-align: center;
    padding: 10px;
    background-color: #d7d0d0;
}
